<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <form action="/dmp/plan" method="post">
        <input type="text" name='time'><br>
        <input type="text" name='plan'><br>
        <input type="text" name='complete'><br>
        <input type="submit">    
    </form>
</body>
</html>